.Form {
  width: 600px;
  padding: 0px 0em 0em 0em;
}

input {
  border-radius: .4em;
  height: 40px;
  font-weight: 300;
  padding: 0 1em;
  border: 1px solid #ccc;
  font-size: 1em;
  width: 300px;
}

button {
  border-radius: .4em;
  height: 40px;
  font-weight: 600;
  background-color: #259a47;
  border-color: #259a47;
  /* padding: 0 1em; */
  font-size: large;
}

.text-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  padding-right: 10px;
}

.radio-text-label {
  margin-top: 8px;
  padding-right: 10px;
}

input[type="radio"] {
  display: block;
}

.radio-text-label {
  display: block;


}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}