html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid{
  width: 100%;
  margin-top: 2%;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin: auto;
}

.footer {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 3.4%;
  display: flex;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: bottom;
}

.important-text{
  font-weight: 600;
  color: #259a47;
}


.logo {
  padding-top: 20px;
  width: 24vw;
}

img {
  padding-left: 6em;
  padding-top: 0em;
  padding-bottom: 2em;
  max-height: 500px;
}

@media (max-width: 1000px) {

.logo {
  margin: auto;
  width: 300px;
}

.section{
  width: 90%;
  padding-top: 30px;
}
.footer {
  margin: auto;
  margin-top: 3vh;
  display: flex;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: bottom;
}

img {
  padding: 0;
  max-height: 500px;
}

}

