html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(110.3deg,#495d6d 4.3%,#313752 96.7%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid {
  width: 100%;
  margin-top: 2%;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin: auto;
}

.footer {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: bottom;
}

.important-text {
  font-weight: 600;
  color: #259a47;
}


.logo {
  padding-top: 20px;
  width: 24vw;
}

.emojis {
  text-shadow: 0 0 2.5rem rgba(255 255 255 / 0.1);
  font-size: 3.5rem;
  padding: 0 0.5rem;
  animation: key1 .35s ease infinite alternate;
  
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-5px);}
}

.emojis.fire {
  position: absolute;
  top: -20%;
  right: 9%;
}

.emojis.leaf {
  position: absolute;
  top: -5%;
  right:25%;
}

.emojis.gas {
  position: absolute;
  top: 10%;
  right: 5%;
}

.emojis.lemon {
  position: absolute;
  top: 25%;
  right: 15%;
}

.emojis.orange {
  position: absolute;
  top: 50%;
  right: 5%;
}

.emojis.peach {
  position: absolute;
  top: 70%;
  right: 15%;
}

.emojis.grape {
  position: absolute;
  top: 95%;
  right: 25%;
}

.emojis.cherry {
  position: absolute;
  top: 100%;
  right: 3%;
}

.emojis.wood {
  position: absolute;
  top: 55%;
  right: 35%;
}

@media (max-width: 1000px) {

  body{
    background-image: linear-gradient(110.3deg,#495d6d 4.3%,#313752 96.7%);
  }


  .logo {
    margin: auto;
    width: 300px;
  }

  .section {
    width: 90%;
    padding-top: 30px;
  }

  .footer {
    margin: auto;
    display: flex;
    padding-top: auto;
    justify-content: center;
    align-items: bottom;
  }

  img {
    padding: 0;
    max-height: 500px;
  }

  .emojis {
    font-size: 2.5rem;
  }

  .emojis.fire {
    position: absolute;
    top: 100%;
    left: 5%;
  }

  .emojis.leaf {
    position: absolute;
    top: 120%;
    left: 30%;
  }

  .emojis.gas {
    position: absolute;
    top: 95%;
    left: 25%;
  }

  .emojis.lemon {
    position: absolute;
    top: 130%;
    left: 55%;
  }

  .emojis.orange {
    position: absolute;
    top: 90%;
    left: 70%;
  }

  .emojis.peach {
    position: absolute;
    top: 130%;
    left: 95%;
  }

  .emojis.grape {
    position: absolute;
    top: 70%;
    left: 95%;
  }

  .emojis.cherry {
    position: absolute;
    top: 130%;
    left: 10%;
  }

  .emojis.wood {
    position: absolute;
    top: 110%;
    left: 80%;
  }



}

@media (max-width: 700px) {


  body{
    background-image: linear-gradient(110.3deg,#495d6d 4.3%,#313752 96.7%);
  }

}